#Data manipulation and analysis
pandas
# Numerical operations
numpy
# Data visualization
matplotlib
seaborn
scipy
# Jupyter notebooks
jupyter
# Web application for interactive dashboards
streamlit
pytest
